body {

  background-color:rgb(213, 225, 214, 0.6);
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

}

.title {

  color: rgba(0, 0, 0, 0.8);
  font-family: verdana;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  
}

img {

  width: 100%;
  height: 100%;

}

hr {
  color: rgba(53, 53, 53, 0.7);

}

.nav-item {

  font-family: verdana;

}

.navigation .navbar-brand {

  color: rgb(0, 0, 0);
  margin-left: 70px;
  padding: inherit;
  font-size:30px;
  font-weight: bold;
  background-color: rgb(255, 255, 255, 0);
  font-family: verdana;

}

.navbar {

  max-height: 80px;
  background-color: rgba(53, 53, 53, 0.755);
  font-size: 28px; 
}

.navbar-collapse {

  position: absolute;
  right: 5%;
  font-size: small;

}

.active, .dropdown-menu .dropdown-item:active a:hover {

  background-color: rgba(52, 135, 165, 0.75);
}

.dropdown-item {

  color: rgba(53, 53, 53, 0.75);
}

.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: rgba(52, 150, 165, 0.75);
}

.nav-link:hover {

  background-color:rgba(52, 150, 165, 0.75);
 }

.navbar-brand:hover {

color: rgb(45, 158, 175);
}

a {

  color: rgb(231, 231, 231);
  font-size: 15px;
  font-family: verdana;
}


.active, .panel:hover {

  border-color:rgb(52, 149, 165);
  border-style: solid;
  
}
.vizualization {
  width:50%;
  height:50%;
}

p {

color: rgb(53, 53, 53);
font-size: 16px;
font-family: verdana;
text-align: justify;
}

.box {

  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 30px 10px;
  color: #ffffff;
  /* background-color: rgba(255, 255, 255, 0.5); */

}

.table {

  font-size: 12px;
  font-family: verdana;
  border-top-color: rgb(255, 255, 255);
}

footer {

background-color: #000000;
border-top-style: solid;
border-top-width: 3px;
border-top-color: #858585;
color: rgb(255, 255, 255);
min-height: 30px;
font-family: verdana, tahoma;
font-size: 12px;
text-align: center;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 5px;
}

header {

  background-color:rgba(255, 255, 255, 0);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: rgb(213, 225, 214);
  color: #000000;
  min-height: 20px;
  font-family: verdana, tahoma;
  font-size: 12px;
  text-align: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 0px;
  }


@media only screen and (max-width: 980px) {
  .navbar-expand-lg {
  background-color: #858585;
  }
  .navbar {
    max-height: none;
    padding: inherit;
  }
  .navbar div {
    margin: inherit;
    background-color: rgb(255,255,255);
  }
  .navbar-brand {
    padding: 15px;
  }
  button{
    margin-right: 10px;
  }
  button:focus {
    outline: 1px dotted;
    outline: auto 5px;
  }
  .dropdown-menu {
    position: absolute;
  }
}